<!DOCTYPE html>
<html>
<head>
	<title>2.4</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function() {
			// Загрузка начальной страницы
			loadPage('first', true);

			// Обработка нажатия на ссылки в навигации
			$('nav a').click(function(event) {
				event.preventDefault();
				var page = $(this).attr('href').substring(1);
				loadPage(page);
			});

			// Обработка нажатия на кнопки "назад" и "вперед" браузера
			window.onpopstate = function(event) {
				if (event.state != null) {
					console.log('go to other page')
					loadPage(event.state.page, true);
				} else {
					loadPage('first', true);
				}
			};

			// Загрузка страницы с помощью XMLHttpRequest и замена ее содержимого
			function loadPage(page, fromPopstate) {
				if (!fromPopstate) {
					history.pushState({page: page}, null, page);
				}

				$.ajax({
					url: 'http://127.0.0.1:5000/' + page,
					type: 'GET',
					dataType: 'html',
					success: function(data) {
						$('#content').html(data);
					}
				});

			}
		});
	</script>
</head>
<body>
	<nav>
		<ul>
			<li><a href="#first">first</a></li>
			<li><a href="#second">second</a></li>
			<li><a href="#third">third</a></li>
		</ul>
	</nav>
	<div id="content"></div>
</body>
</html>